@charset "utf-8";
@import "../lib/hotcss-master/src/px2rem.scss";
$designWidth:640;
.toptitle{
    height: px2rem(70);
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: px2rem(70);
}
.toptitle .middle{
    font-size: px2rem(30);
}
.toptitle div{
    flex: 1;
    font-weight: bold;
}
.toptitle .left i{
    font-size: px2rem(36);
    float: left;
    margin-left: px2rem(20);
}
.toptitle .left{
overflow: hidden;
}


.item_center{
    margin-left: px2rem(100);
    margin-right: px2rem(100);
    padding-top: px2rem(100);
    .item_c1{
        p{
            font-size: px2rem(26);
            color: #777;
            padding-left: px2rem(40);
        }
    }
    .item_c2{
        background-color: #f7f7f7;
        height: px2rem(80);
        margin-top: px2rem(30);
        border-radius: px2rem(60);
        line-height: px2rem(80);
        font-size: px2rem(30);
        span input{
            border: none;
            height: px2rem(30);
            font-size: px2rem(30);
            background-color: #f7f7f7;
            width: px2rem(200);
        }
        .s1{
            padding-left: px2rem(40);
        }
        .s2 i{
            font-size: px2rem(30);
            margin-left: px2rem(10);
        }
        .s2::before{
            border: 2px solid red;
        }
    }
    .item_c3{
        background-color: #f7f7f7;
        height: px2rem(80);
        margin-top: px2rem(40);
        border-radius: px2rem(60);
        line-height: px2rem(80);
        text-align: center;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        .it_3left{
            input{
                border: none;
                height: px2rem(30);
                font-size: px2rem(30);
                background-color: #f7f7f7;
                width: px2rem(200);
                margin-left: px2rem(40);
            }
        }
        .it_3right{
            margin-right: px2rem(40);
            font-size: px2rem(26);
            p{
                color: #fe9e58;
            }
        }
   
    }
    .item_c4{
        background-color: #fd8257;
        height: px2rem(80);
        margin-top: px2rem(80);
        border-radius: px2rem(60);
        color: white;
        font-size: px2rem(30);
        line-height: px2rem(80);
        text-align: center;
    }
}