.toptitle {
  height: 1.75rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 1.75rem; }

.toptitle .middle {
  font-size: 0.75rem; }

.toptitle div {
  flex: 1;
  font-weight: bold; }

.toptitle .left i {
  font-size: 0.9rem;
  float: left;
  margin-left: 0.5rem; }

.toptitle .left {
  overflow: hidden; }

.item_center {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-top: 2.5rem; }
  .item_center .item_c1 p {
    font-size: 0.65rem;
    color: #777;
    padding-left: 1rem; }
  .item_center .item_c2 {
    background-color: #f7f7f7;
    height: 2rem;
    margin-top: 0.75rem;
    border-radius: 1.5rem;
    line-height: 2rem;
    font-size: 0.75rem; }
    .item_center .item_c2 span input {
      border: none;
      height: 0.75rem;
      font-size: 0.75rem;
      background-color: #f7f7f7;
      width: 5rem; }
    .item_center .item_c2 .s1 {
      padding-left: 1rem; }
    .item_center .item_c2 .s2 i {
      font-size: 0.75rem;
      margin-left: 0.25rem; }
    .item_center .item_c2 .s2::before {
      border: 2px solid red; }
  .item_center .item_c3 {
    background-color: #f7f7f7;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    line-height: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    overflow: hidden; }
    .item_center .item_c3 .it_3left input {
      border: none;
      height: 0.75rem;
      font-size: 0.75rem;
      background-color: #f7f7f7;
      width: 5rem;
      margin-left: 1rem; }
    .item_center .item_c3 .it_3right {
      margin-right: 1rem;
      font-size: 0.65rem; }
      .item_center .item_c3 .it_3right p {
        color: #fe9e58; }
  .item_center .item_c4 {
    background-color: #fd8257;
    height: 2rem;
    margin-top: 2rem;
    border-radius: 1.5rem;
    color: white;
    font-size: 0.75rem;
    line-height: 2rem;
    text-align: center; }
